<div class="container mt-3">
	<div class="row pl-4">
		<div class="col-2 ml-4">
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalCarpeta">
				Crear carpeta
			</button>
		</div>
		<div class="col-2 ml-4">
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
				Subir archivo
			</button>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Agregar nuevo documento</h5>
				<button type="button" class="btn-sm" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label for="formFileMultiple" class="form-label">Seleccionar</label>
				<form id="formArchivos" action="archivos/subir/" name="formArchivos" method="post"
					enctype="multipart/form-data">
					<input class="form-control" type="file" id="file" name="file" multiple />
					<label for="">descripcion</label>
					<input type="text" name="descripcion" id="descripcion" />

					<button type="submit" class="btn btn-success btn-sm">Subir
						archivos</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCarpeta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCarpeta"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCarpeta">Crear nueva carpeta</h5>
				<button type="button" class="btn-sm" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formCarpetas" action="archivos/directorio/" name="formCarpetas" method="post">
					<label for="">Nombre: </label>
					<input type="text" name="nombre" id="nombre" />

					<button type="submit" class="btn btn-success btn-sm">Crear</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container mt-3">
	<h4>{{titulo3}}</h4>
	<div class="row">
		{{#each carpetas}}
		<div class="col-4 col-sm-2">
			<div class="card" style="width: 9rem;">
				<div class="card-body">
					 <a href="archivos/abrir/{{dataValues.nombre}}" role="button"><i class="bi bi-folder-fill"s style="font-size: 2em; color: rgb(237, 178, 100);"></i></button>
					<h6 class="card-title">{{dataValues.nombre}}</h6>
					</a><!--<a href="archivos/" class="btn btn-secondary btn-sm">Abrir</a>-->
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLabelCarpetasA" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabelCarpetasA" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabelCarpetasA">Agregar a la carpeta</h5>
					<button type="button" class="btn-sm" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{#each carpetas}}
					<label for="formFileMultiple" class="form-label">Seleccionar</label>
					<form id="formArchivos" action="archivos/subir/{{dataValues.nombre}}" name="formArchivos"
						method="post" enctype="multipart/form-data">
						<input class="form-control" type="file" id="file" name="file" multiple />
						<label for="">descripcion</label>
						<input type="text" name="descripcion" id="descripcion" />
						<button type="submit" class="btn btn-success btn-sm">Subir
							archivos</button>
					</form>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
